version: '3.8'

services:
  frontend:
    build: ./front
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build: ./back
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/farmacia
      SPRING_DATASOURCE_USERNAME: dev
      SPRING_DATASOURCE_PASSWORD: dev123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      SPRING_SQL_INIT_MODE: always
      API_SECURITY_TOKEN_SECRET: MinhaChaveSecretaUltraSegura123!

      # Configuração de envio de e-mail (SMTP Gmail)
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: 587
      SPRING_MAIL_USERNAME: livrementehomeopatia@gmail.com
      SPRING_MAIL_PASSWORD: bhao wiff iszb mngx
      SPRING_MAIL_PROTOCOL: smtp
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: true
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_REQUIRED: true
      SPRING_LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_MAIL: DEBUG

      APP_ADMIN_ENABLED: "true"
      APP_ADMIN_EMAIL: "admin@admin.com"
      APP_ADMIN_PASSWORD: "admin123"

      # Configuração do mercado pago
      MERCADOPAGO_ACCESS_TOKEN: "TEST-SEU-TOKEN-SANDBOX-AQUI"  # Token de teste
      MERCADOPAGO_BASE_URL: "https://api.mercadopago.com"      # Mesma URL, mas com token sandbox
      MERCADOPAGO_WEBHOOK_URL: "https://seu-subdominio.ngrok.io/mercadopago/resale-orders/webhook"  # URL do Ngrok
      MERCADOPAGO_WEBHOOK_SECRET: "SEU_SECRET_AQUI"            # Opcional para sandbox

      # Configurações extras para homologação
      SPRING_PROFILES_ACTIVE: "homolog"
      SERVER_SSL_ENABLED: "false"



    depends_on:
      - db

  db:
    image: postgres:17
    container_name: postgres-db
    environment:
      POSTGRES_DB: farmacia
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev123
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

  ngrok:
    image: ngrok/ngrok:latest
    command:
      - "http"
      - "http://host.docker.internal:8080"
    environment:
      NGROK_AUTHTOKEN: 2xOeuczqAc4b9snPif47McfwxSv_3kEms7bp7SP49h5Afd2CH
    ports:
      - 4040:4040
    depends_on:
      - backend 

volumes:
  pgadmin_data:
  postgres_data: