/* src/styles/recuperarSenha.css */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.login-logo {
  height: 60px;
  margin-bottom: 20px;
}

.login-form h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

input {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #eaf1ff;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.primary-btn {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #008400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover {
  background-color: #006f00;
}

.login-link {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.login-link a {
  color: #008400;
  font-weight: bold;
  text-decoration: none;
}

.erro {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #ffe5e5;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  text-align: center;
}

.sucesso {
  color: #008400;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #e6ffe6;
  border: 1px solid #008400;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  text-align: center;
}

.login-image {
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
